<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 마이바티스는 namespace의 값인 org.fervorseed.ikeframework.mapper.web.TestMapper 인터페이스를 매퍼로 연결한다. -->
<mapper namespace="org.fervorseed.ikeframework.mapper.web.TestMapper">

    <select id="getCabinetInfo" resultType="Test">
		SELECT ID
				  ,CABINETNAME
		FROM PCMS_CABINET_INFO
		WHERE ID = 1 
    </select>
</mapper>